arxiv,
duckduckgo-search,
gradio[oauth],
groq,
huggingface-hub,
ipykernel,
jupyter,
langchain,
langchain-community,
langchain-core,
langchain-google-genai,
langchain-groq,
langchain-huggingface,
langchain-ollama,
langchain-tavily,
langgraph,
langmem,
matplotlib,
networkx,
numpy,
openpyxl,
pgvector,
pymupdf,
pytesseract,
python-dotenv,
requests,
scikit-learn,
scipy,
tiktoken,
tqdm,
trafilatura,
wikipedia,